<% crossword_solution = @crossword_solution %>

<%= form_for(crossword_solution) do |f| %>
  <% if crossword_solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crossword_solution.errors.count, "error") %> prohibited this crossword_solution from being saved:</h2>

      <ul>
      <% crossword_solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= f.label :solution_letters %><br />
    <%= f.text_area :solution_letters, :id => 'hiddenLetters' %>
  </div>
  <div class="actions">
    <%= f.submit "Save Solution", :class => "showButton" %>
  </div>
<% end %>