<%= form_for(@crossword_puzzle) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rows %><br />
    <%= f.number_field :rows %>
  </div>
  <div class="field">
    <%= f.label :cols %><br />
    <%= f.number_field :cols %>
  </div>
  <div class="field">
    <%= f.label :clues_count %><br />
    <%= f.number_field :clues_count %>
  </div>
  <div class="field">
    <%= f.label :letters %><br />
    <%= f.text_field :letters %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
