<% if current_user && current_user.admin %>
	<h4>Total puzzles: <%= CrosswordPuzzle.count %></h4>


	<h1>Listing crossword_puzzles</h1>
	
	<table class="backed">
		<tr class="block limited">
			<th class="limited">Title</th>
			<th class="limited">User</th>
			<th class="limited">Rows</th>
			<th class="limited">Cols</th>
			<th class="limited">Clues Count</th>
			<th class="limited">Letters</th>
			<th class="limited">Voids</th>
			<th class="limited"></th>
			<th class="limited"></th>
			<th class="limited"></th>
		</tr>
	
	<% @crossword_puzzles.each do |crossword_puzzle| %>
		<tr class="block limited">
			<td class="limited"><%= crossword_puzzle.title %></td>
			<td class="limited"><%= crossword_puzzle.user_id %></td>
			<td class="limited"><%= crossword_puzzle.rows %></td>
			<td class="limited"><%= crossword_puzzle.cols %></td>
			<td class="limited"><%= crossword_puzzle.clues_count %></td>
			<td class="limited"><%= crossword_puzzle.letters %></td>
			<td class="limited"><%= crossword_puzzle.voids %></td>
			<td class="limited"><%= link_to 'Show', crossword_puzzle %></td>
			<td class="limited"><%= link_to 'Edit', edit_crossword_puzzle_path(crossword_puzzle) %></td>
			<td class="limited"><%= link_to 'Destroy', crossword_puzzle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Crossword puzzle', new_crossword_puzzle_path %>
<% else %>

	<%= render :partial => "partial/admin_only" %>
	
<% end %>