<% title "New Crossword" %>

<% if logged_in? %>
	<% if @crossword_puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crossword_puzzle.errors.count, "error") %> prohibited this crossword_puzzle from being saved:</h2>

      <ul>
      <% @crossword_puzzle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  		<div class="newPuzzleUser shadow">
			<p>New Puzzle</p>
			<%= form_for(@crossword_puzzle) do |f| %>
				<div class="field">
					<%= f.label :title, :class => "bold" %><br />
					<%= f.text_field :title, :class => "subtle-input under-dash", :placeholder => "A Rope of Sand", :size => 25, :maxlength => 35 %>
				</div>
				<br />
				<div>
					<div class="field inline-block">
						<%= f.label :rows, :class => "bold" %><br />
						<%= f.number_field :rows, :min => 4, :max => 30, :value => 15, :class => "newPuzzleUserInput subtle-input under-dash" %>
					</div>
					<div class="field inline-block">
						<%= f.label :cols, 'Columns', :class => "bold" %><br />
						<%= f.number_field :cols, :min => 4, :max => 30, :value => 15, :class => "newPuzzleUserInput subtle-input under-dash"  %>
					</div>
				</div>
				<br />
					<div class="actions">
					<%= f.submit 'Make it so!', :class => "newPuzzleUserButton" %>
				</div>
			<% end %>
		</div>
		<% if admin? %>
			<div class="adminContainer">
				<h1>New crossword_puzzle</h1>
				
				<%= render 'form' %>
				
				<%= link_to 'Back', crossword_puzzles_path %>
				<a href="#" class="closeBox closeUp">x</a>
			</div>
		<% end %>
	
<% else %>
	<div id="signup-login-container" class="shadow">
		<p>You need an account before you can start making puzzles!</p>
		<p>
			<%= link_to "<div class='signUpButton shadow'>Sign Up!</div>".html_safe, sign_up_path %>
		</p>
		<p>(Don't worry, it's 100% free)</p>
		<br />
		
		<div class="orLogIn">
			Have an account? Just <%= link_to "<u>Log In</u>".html_safe, log_in_path %>!
			
		</div>
	</div>
<% end %>

