<% title "New Crossword" %>

<% if current_user %>

	<% if current_user.admin %>

			<h1>New crossword_puzzle</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Back', crossword_puzzles_path %>
			
	<% else %>

			What size crossword would you like to make?
			<%= form_for(@crossword_puzzle) do |f| %>
				<div class="field">
					<%= f.label :title %><br />
					<%= f.text_field :title %>
				</div>
				<div class="field">
					<%= f.label :rows %><br />
					<%= f.number_field :rows %>
				</div>
				<div class="field">
					<%= f.label :cols %><br />
					<%= f.number_field :cols %>
				</div>
					<div class="actions">
					<%= f.submit %>
				</div>
			<% end %>
		
		
		
		
	<% end %>
	
<% else %>
	<div id="signup-login-container" class="shadow">
		<p>You need an account before you can start making puzzles!</p>
		<p>
			<%= link_to "<div class='signUpButton shadow'>Sign Up!</div>".html_safe, sign_up_path %>
		</p>
		<p>(Don't worry, it's 100% free)</p>
		<br />
		
		<div class="orLogIn">
			Have an account? Just <%= link_to "<u>Log In</u>".html_safe, log_in_path %>!
			
		</div>
	</div>
<% end %>

