<% if @crossword_puzzle %>
	<% title @crossword_puzzle.title %>
	
	<% if logged_in? %>
		<% if current_user == @crossword_puzzle.user %>
			<div class="hangFlag">
				This is your puzzle!<br />
				<%= link_to "<b><u>Edit Puzzle</u></b>".html_safe, edit_crossword_puzzle_path(@crossword_puzzle) %>
			</div>
		<% end %>
	<% end %>
	
	<script type="text/javascript">
			numRows = <%= @crossword_puzzle.rows %>;
			numCols = <%= @crossword_puzzle.cols %>;
			var loadedLetters = [];
			var loadedVoids = [];
			var letterVoidString = '<%= @crossword_puzzle.letters %>';
			for(var i = 0; i< letterVoidString.length; i++){
				if(letterVoidString[i] == '_'){
					loadedVoids.push(i);
					loadedLetters.push('_');
				} else if (letterVoidString[i] == ' '){
					loadedLetters.push(' ');
				} else{
					loadedLetters.push(letterVoidString[i]);
				}
			}
			currentCrossword = new Crossword(loadedVoids, loadedLetters, []);
	
			
			/*
			Document load function that sets up the puzzle cells and prepares the dblclick
			event listener to allow the users to change cells to and from void
			*/
			$(document).ready(function(){
			
				for (var i = 0; i< <%= @crossword_puzzle.rows %>; i++){
					$("#cword").append(row);
				}
				for (var i = 0; i< <%=@crossword_puzzle.cols %>; i++){
					$(".row").append(cell);
				}
				//Initialize the cells, cellNumbers, and row x col tag
				$cells = $('.cell');
				$cellNums = $('.cellNum');
				
				//When the user hovers or focuses a cell, its clues are dynamically displayed and it is highlighted
				$cells.on('mouseenter focusin',
					function(){
						$('.cellContainer').removeClass('hoverCell');
						if(!isVoid($(this))){
							$(this).parent().addClass('hoverCell');
							if($('#dishStain').css('display')!='none' || $('#dishStain').css('opacity')>0){
								$('#dishStain').stop();
								$('#dishStain').fadeOut(400);	
							}
						} else {
							if($('#dishStain').css('display')=='none' || $('#dishStain').css('opacity')< 1){
								$('#dishStain').stop();
								$('#dish').fadeIn(1000);	
							}
						}
						if (getClueLeft($(this))){
							if($('.curA').is(":hidden")){
								$('.curA').show();
							}
							$('#curClueA').text(getClueLeft($(this))['Number']);
							$('#acrossP').html(getClueLeft($(this))['Clue']);
						}
						else {
							if($('.curA').is(":visible")){
								$('.curA').hide();
							}
						}
						if (getClueAbove($(this))){
							if($('.curD').is(":hidden")){
								$('.curD').show();
							}
							$('#curClueD').text(getClueAbove($(this))['Number']);
							$('#downP').html(getClueAbove($(this))['Clue']);
						}
						else {
							if($('.curD').is(":visible")){
								$('.curD').hide();
							}
						}
					});					
				$cells.on('focusout mouseleave',
					function(){
						$(this).parent().removeClass('hoverCell');
					}
				);
				
				//When a cell is focused, highlights the contents of the cell for easy changes
				//Oddly written timeout because otherwise the keypress focuses don't properly highlight
				$cells.on('focus', function(){
					var save_this = $(this);
					window.setTimeout (function(){save_this.select();},1);
				});
				
				//Quick cell navigation key binds
				$cells.on('keydown',function(event){
					switch (event.which) {
						case 13:
							$cellBelow(this).select();
							break;
						case 37:
							$cellLeft(this).select();
							break;
						case 38:
							$cellAbove(this).select();
							break;
						case 39:
							$cellRight(this).select();
							break;
						case 40:
							$cellBelow(this).select();
							break;
							
					}
				});
	
				//Advanced tools toggle on pen-click
				$('#advHeader, #advBracket, #pen').on('click',function(){
					toggleAdvanced();
				});
				
					inputVoids(currentCrossword.voids);
					numberCells();
					
					<% @crossword_puzzle.clues.each do |clue| %>
						$('.cell[cellnumber ='+ <%= clue.cell %> +']').attr('<%= orientation = clue.orientation ? "acrossclue" : "downclue" %>', '<%= clue.clue_text %>');
						
						<% if clue %>
						<% else %>
						<% end %>
					<% end %>
				
			});
		</script>
			
			<div id='puzzleBox'>
			<div id="topPuzzleBox">
				<div id="leftControls" class="left">
					<h5 id="advHeader" class="pointer">Advanced</h5>
					<img id="advBracket" class="pointer" src="/assets/advBracket.png" width="65%" height="24em" />
					<img id="pen" class="pointer" src="/assets/fountainPen.png" height="75%" />
				</div>
				<div id="cwordContainer" class="container left">
					<div id="titleBar" class="shadow">
						<span class="cwordTitle"><%= @crossword_puzzle.title %></span>
					</div>
					<div id='cword' class="shadow"></div>
					<div id="creatorCredit" class="shadow">
						<span class="cwordCreator">By <%= name = @crossword_puzzle.user ? @crossword_puzzle.user.first_name + " " + @crossword_puzzle.user.last_name : "[deleted]" %></span></span>
					</div>
				</div>
				<div id="rightControls" class="left">
					<div id="currentClue">
						<img id="dishStain" src="/assets/dishStain.png" height="80%" >
						<div id="clueHolder">
							<h6 class="curA"><span id="curClueA">?</span>-Across</h6>
							<p class="clueP curA" id="acrossP">???</p>
							<h6 class="curD"><span id="curClueD">?</span>-Down</h6>
							<p class="clueP curD" id="downP">???</p>
						</div>
					</div>
					<div id="results" class="solveTools">
						<input type="button" value="Show Incorrect" id="showIncorrect" onclick="showIncorrect();"/>
						<div id='cheatResult'></div>
						<input type="button" value="Cheat!" id="cheat" onclick="cheat();"/>
					</div>
				</div>
			</div>
		</div>
		
		<% if logged_in? && admin? %>
		<p id="notice"><%= notice %></p>
		
		<p>
			<b>Title:</b>
			<%= @crossword_puzzle.title %>
		</p>
		
		<p>
			<b>User:</b>
			<%= @crossword_puzzle.user_id %>
		</p>
		
		<p>
			<b>Rows:</b>
			<%= @crossword_puzzle.rows %>
		</p>
		
		<p>
			<b>Cols:</b>
			<%= @crossword_puzzle.cols %>
		</p>
		
		<p>
			<b>Clue Count:</b>
			<%= @crossword_puzzle.clues_count %>
		</p>
		
		<p>
			<b>Letters:</b>
			<%= @crossword_puzzle.letters %>
		</p>
		
		<%= link_to 'Edit', edit_crossword_puzzle_path(@crossword_puzzle) %> |
		<%= link_to 'Back', crossword_puzzles_path %>
		
		<% end %>
		
<% else %>
	That puzzle doesn't exist...
<% end %>