<% title "Home" %>

<% if logged_in? %>

	<div class="homeMenu shadow" >
		<div class="homeMenuFold sideFold">
			<div class="topLeftMenuCorner menuCorner"></div>
			<div class="topRightMenuCorner menuCorner"></div>

			<h3>Solutions</h3>
			<%= image_tag "/assets/advBracket.png", :alt => "Fancy Bracket", :width => "100em", :class => "center" %>

				<% if current_user.crossword_solutions_count > 0 %>
					<% current_user.crossword_solutions.all(:order => 'updated_at DESC').each do |sol| %>
						<div class="text-smaller">
							<%= sol.completion_percentage %>% <%= link_to sol.crossword_puzzle.title, edit_crossword_puzzle_path(sol.crossword_puzzle), :class=> "hoverLine"%> by <%= link_to sol.crossword_puzzle.user.username, sol.crossword_puzzle.user, :class => 'hoverLine' %>
						</div>
					<% end %>
				<% else %>
					<p class="text-center text-smaller">You haven't started any puzzles yet!</p>
					<%= link_to "Random Puzzle", current_user.rand_unowned_puzzle, :class => "text-center block center hoverLine" %>
					<%= link_to "Puzzle of the Day", CrosswordPuzzle.find(1), :class => "text-center block center hoverLine"  %>
				<% end %>

			<div class="bottomLeftMenuCorner menuCorner"></div>
			<div class="bottomRightMenuCorner menuCorner"></div>

		</div>
		<div class = "menuCrease" ></div>
		<div class="homeMenuFold midFold">
			<div class="topLeftMenuCorner menuCorner"></div>
			<div class="topRightMenuCorner menuCorner"></div>

			<h3>Puzzles</h3>
			<%= image_tag "/assets/advBracket.png", :alt => "Fancy Bracket", :width => "100em", :class => "center" %>

				<% if current_user.crossword_puzzles_count > 0 %>
						<% if current_user.crossword_puzzles.where(:published => false).count > 0 %>
							<h5>Unpublished</h5>
							<div class="menuSection text-smaller">
								<% current_user.crossword_puzzles.where(:published => false).order('updated_at DESC').each do |puz| %>
								<div class="homeFolderItem unpublished">
									<span class="menuDots">...........................................................................................................................</span>
									<%= link_to puz.title, crossword_puzzle_path(puz), :class => "homeFolderItemPart hoverLine" %>
									<span class="homeFolderItemPart dimPart"><%= puz.rows %>x<%= puz.cols %></span>
									<span class="homeFolderItemPart datePart"><%= puz.created_at.strftime("%m"+'/'+"%d"+'/'+"%y") %></span>
									<%= link_to "View", crossword_puzzle_path(puz), :class=>"right editView hoverLine" %>
									<%= link_to "Edit", edit_crossword_puzzle_path(puz), :class=>"right editView hoverLine" %>
								</div>
								<% end %>
							</div>
						<% end %>
						
						<% if current_user.crossword_puzzles.where(:published => true).count > 0 %>
							<h5>Published</h5>
							<div class="menuSection text-smaller">
								<% current_user.crossword_puzzles.where(:published => true).order('updated_at DESC').each do |puz| %>
								<div class="homeFolderItem published">
									<span class="menuDots">..........................................................................................................................................</span>
									<%= link_to puz.title, crossword_puzzle_path(puz), :class => "homeFolderItemPart hoverLine" %>
									<span class="homeFolderItemPart dimPart"><%= puz.rows %>x<%= puz.cols %></span>
									<span class="homeFolderItemPart datePart"><%= puz.created_at.strftime("%m"+'/'+"%d"+'/'+"%y") %></span>
									<%= link_to "View", crossword_puzzle_path(puz), :class=>"right editView hoverLine" %>
									<%= link_to "Edit", edit_crossword_puzzle_path(puz), :class=>"right editView hoverLine" %>
								</div>
								<% end %>
							</div>
						<% end %>
				<% else %>
						<p class="text-center">You haven't created any puzzles yet!</p>
				<% end %>

			<div class="bottomLeftMenuCorner menuCorner"></div>
			<div class="bottomRightMenuCorner menuCorner"></div>

		</div>
		<div class = "menuCrease" ></div>
		<div class="homeMenuFold sideFold">
			<div class="topLeftMenuCorner menuCorner"></div>
			<div class="topRightMenuCorner menuCorner"></div>

			<h3>Stats</h3>
			<%= image_tag "/assets/advBracket.png", :alt => "Fancy Bracket", :width => "100em", :class => "center" %>

			<br />
			<h5>Solutions</h5>
			<p class="text-smaller">
				In the works: <%= current_user.crossword_solutions.where(:solution_complete => false).count %><br />
				Finished: <%= current_user.crossword_solutions.where(:solution_complete => true).count %><br />
				Total: <%= current_user.crossword_solutions_count %>
			</p>
			<h5>Puzzles</h5>
			<p class="text-smaller">
				In the works: <%= current_user.crossword_puzzles.where(:published => false).count %><br />
				Finished: <%= current_user.crossword_puzzles.where(:published => true).count %><br />
				Total: <%= current_user.crossword_puzzles_count %>
			</p>

			<div class="bottomLeftMenuCorner menuCorner"></div>
			<div class="bottomRightMenuCorner menuCorner"></div>
		</div>
	</div>

<% else %>
		<style type="text/css">
			body {
				/*
				Image from http://1.bp.blogspot.com/-4DwniCCS8VY/T2ZyfO9FNTI/AAAAAAAAAPU/dsi7k3ux20M/s640/lenox+coffee+interior.jpg
				*/
				background: url(/assets/couchCafe.jpg) no-repeat;
				background-size: 100%;
				background-position: center 2em;
			}
			html {
				background: black;
			}
		</style>
		<div id="logged-out-welcome-container">
			<div id="welcomeBoard"></div>
			<%= form_tag sessions_path do %>
			<p>
				<%= text_field_tag :username, params[:username], :placeholder => "username", :class => "chalkboardInput subtle-input" %>
			</p>
			<p>
				<%= password_field_tag :password , nil,  :class => "chalkboardInput subtle-input", :placeholder => "password" %>
			</p>
				<%= submit_tag "LOG IN" , :class => "chalkboardButton" %>
		<% end %>
			<span>or</span><br /><br /><br />
			<%= link_to "SIGN UP".html_safe, sign_up_path, :class => "chalkboardButton" %>			
		</div>
<% end %>