<% title "Home" %>

<% if current_user %>

	<div class="homeFolder">
		<h2>Solutions in Progress</h2>
		<% current_user.crossword_solutions.all.each do |sol| %>
		<div>
				<%= link_to sol.crossword_puzzle.title, edit_crossword_puzzle_path(sol.crossword_puzzle) %>
		</div>
		<% end %>
	</div>
	
	<div class="homeFolder">
		<h2>My Puzzles</h2>
		<% current_user.crossword_puzzles.all.each do |puz| %>
		<div>
				<%= link_to puz.title, edit_crossword_puzzle_path(puz) %>
		</div>
		<% end %>
	</div>

<% else %>
		<style type="text/css">
			body {
				/*
				Image from http://1.bp.blogspot.com/-4DwniCCS8VY/T2ZyfO9FNTI/AAAAAAAAAPU/dsi7k3ux20M/s640/lenox+coffee+interior.jpg
				*/
				background: url(/assets/couchCafe.jpg) no-repeat;
				background-size: 100%;
				background-position: center 2em;
			}
			html {
				background: black;
			}
		</style>
		<div id="logged-out-welcome-container">
			<div id="welcomeBoard"></div>
			<%= form_tag sessions_path do %>
			<p>
				<%= text_field_tag :username, params[:username], :placeholder => "username", :class => "chalkboardInput" %>
			</p>
			<p>
				<%= password_field_tag :password , nil,  :class => "chalkboardInput", :placeholder => "password" %>
			</p>
				<%= submit_tag "LOG IN" , :class => "chalkboardButton" %>
		<% end %>
			<span>or</span><br /><br /><br />
			<%= link_to "SIGN UP".html_safe, sign_up_path, :class => "chalkboardButton" %>			
		</div>
<% end %>