<!DOCTYPE html>
<html>
<head>
  <title>Crossword Café</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.9.2/jquery-ui.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="crossHeader" class="shadow">
		<div id="crossHeaderContainer" >
			<!-- <img src="http://i.imgur.com/ZQegw.jpg" />
			<img src="http://i.imgur.com/n2q3D.jpg" />
			<img src="http://i.imgur.com/ZY0G7.jpg" />
			<img src="http://i.imgur.com/XIdcI.jpg" />-->
			
			<%= link_to image_tag("/assets/headerIcon.png", :height => "85%", :alt => "Crossword Café -- Home"), root_url %>
			<div id="headQuote">“A writer is someone who can make a riddle out of an answer.”</div>
			<nav class="right headerNav">
				<span class="headerSpacer right"></span>
				<div class ="menuTab">
					My Profile
					<div class="downNav"></div>
					<ul class="dropMenu">
						<li><%= link_to "All Puzzles", crossword_puzzles_path %></li>
						<li><%= link_to "All Users", users_path %></li>
					<ul>
				</div>
				<span class="headerSpacer right"></span>
				<div class="menuTab">
					Load Puzzle
					<div class="downNav"></div>
					<ul class="dropMenu">
					
						<!-- Leaves out non-creators -->
						<% User.where('crossword_puzzles_count > ?', 0).order(:last_name).each do |user| %>
						<li class="marsupial"><%= user.last_name %>
							<div class="leftNav"></div>
							<ul class="leftMenu">
							
								<% user.crossword_puzzles.each do |crossword_puzzle| %>
									<li class="pointer" onclick="loadCrossword(dylan1);"><%= crossword_puzzle.title.split(" ")[0][0,13] %></li>
								<% end %>
								
							</ul>
						</li>
						<% end %>
						
					</ul>
					
				</div>
				<span class="headerSpacer right"></span>
				<div class="pointer" onclick="newCrossword();">New Puzzle</div>
				<span class="headerSpacer right"></span>
			</nav>
		</div>
	</div>

<%= yield %>

</body>
</html>
