<% if logged_in? && admin? %>
	<h4>Total clues: <%= Clue.count %></h4>

	<h1>Listing clues</h1>
	
	<table class="backed">
		<tr>
			<th>ID</th>
			<th>Crossword puzzle</th>
			<th>User</th>
			<th>Cell</th>
			<th>Orientation</th>
			<th>Clue text</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	
	<% @clues.each do |clue| %>
		<%= content_tag_for(:tr, clue) do %>
			<td><%= clue.id %></td>
			<td><%= clue.crossword_puzzle_id %></td>
			<td><%= clue.user_id %></td>
			<td><%= clue.cell %></td>
			<td><%= clue.orientation %></td>
			<td><%= clue.clue_text %></td>
			<td><%= link_to 'Show', clue, :class => 'hoverLine' %></td>
			<td><%= link_to 'Edit', edit_clue_path(clue), :class => 'hoverLine' %></td>
			<td><%= link_to 'Destroy', clue, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'hoverLine' %></td>
		<% end %>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Clue', new_clue_path %>
<% else %>

		<%= render :partial => "partial/admin_only" %>
		
<% end %>